<div class="comments container col-sm-10 p-3">
    {{#each this}}
        <div class="card border border-4 rounded bg-light text-dark m-3">
            <h3 class="card-header"></h3>
            <div class="card-body">
                <div class="card-text">
                    {{comment_text}}
                </div>
                <div class="meta">
                    - {{user.username}}, {{format_date created_at}}
                </div>
            </div>
        </div>
    {{/each}}
</div>