<div class="container col-sm-10">
    <div class="card border border-4 rounded bg-light text-dark mt-2">
        <div class="card-header">
            <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        </div>
    </div>
</div>