{{#if posts.length}}
    <div class="container col-sm-10 p-3 mt-4">
        <h2 class="p-2 m-2">Your Posts</h2>
        {{#each posts as |post|}}
            {{> dashboard-post post}}
        {{/each}}
    </div>
{{/if}}

<div class="d-flex justify-content-center">
    <button type="submit" class="btn"><a href="/dashboard/new">+ New Post</a></button>
</div>

<script src="/js/addPost.js"></script>