<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-control" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-control" placeholder="Must be more than 4 characters"/>

        <div class="form-button-layout">
            <button type="submit" class="btn"><i class="fa-solid fa-right-to-bracket" style="padding-right:8px;"></i>Login</button>
            <button class="btn-outline"><a class="link-blue" href="/signup"><i class="fa-solid fa-user-plus" style="padding-right:8px;"></i>Sign up</a></button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>