<div class="container p-3 mt-3">
    <div class="card border border-4 rounded bg-light text-dark">
        <h3 class="card-header">Create New Post</h3>
        <form class="card-body" id="new-post-form">
            <label for="post-title" class="form-label">Title</label>
            <input type="text" id="new-post-title" class="form-control">

            <label class="form-label" for="content">Content</label>
            <input class="form-control" id="new-post-content" type="text" name="content">
            <div>
                <button type="submit" id="create-post-btn" class="btn mt-3">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/addPost.js"></script>