<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label class="form-label" for="username-signup">Username</label>
        <input id="username-signup" type="text" class="form-control" />


        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-control" />

        <div class="form-button-layout">
            <button type="submit" class="btn">Sign up</button>
            <button class="btn-outline"><a class="link-blue" href="/login"><i class="fas fa-sign-in-alt" style="padding-right:8px;"></i>Log in</a></button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>