body {
    background-image: url("/assets/background3.jpg");
    background-size:cover;
    background-attachment: fixed;
}

#page-title {
    text-decoration: solid;
}

#home-nav {
    background-color:rgb(201 211 222);
    border-radius: 25px;
}

#dashboard-nav {
    background-color:rgb(201 211 222);
    border-radius: 25px;
}

#logout {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#login {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#signup {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#submit-button {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#create-post-btn {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#new-post {
    background-color: white;
    color: floralwhite;
}

#update-post-btn {
    background-color: rgb(14, 89, 132);
    color: beige;
}

#delete-post-btn {
    background-color:lightslategray;
    color: beige;
}

#login-signup-btn {
    background-color:rgb(224, 229, 234);
    color: beige;
}

#signup-login-btn {
    background-color:rgb(224, 229, 234);
    color: beige;
}

a {
    text-decoration: none;
}

#dashboard-posts {
    color: whitesmoke;
}